.movie-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header {
  padding: 1rem;
}

.searchbar {
  border: 2px solid #22254b;
  font-size: 1.2rem;
  border-radius: 50px;
}

.search:active {
}
